<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<!--
Railsでは、ビューを表示する際、

・まずapplication.html.erbを読み、
・次に、呼び出されたアクションに対応するビューファイルをapplication.html.erbの< yield >に埋め込む

今回はhomes_controllerのtopアクションを使用するため、
app/views/homes/top.html.erbの内容が表示されています。
application.html.erbに< yield >がないと、各ページの内容を表示できません。
-->